NODE_ENV=production

POSTGRES_DB=estateflow
POSTGRES_USER=estateuser
POSTGRES_PASSWORD=estate123
POSTGRES_PORT=5432

API_PORT=3000

JWT_SECRET=troque-este-segredo
JWT_REFRESH_SECRET=troque-este-refresh-segredo
JWT_EMAIL_VERIFICATION_SECRET=troque-este-segredo-email
JWT_PASSWORD_RESET_SECRET=troque-este-segredo-reset

CORS_ORIGIN=http://localhost:5173
